<section id="contact" style="background-color: #003d66; color: #fff; padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary" style="border-color: #F05F40;">
                <p>Ready to start your next project with us? That's great! Send us an email and we will get back to you as soon as possible!</p>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <a href="mailto:info@albertatechsolutions.com" style="color: #fff; text-decoration: none; margin-right: 10px;">
                        <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                    <p style="margin: 0;">Email: <strong><a href="mailto:info@albertatechsolutions.com" style="color: #F05F40;">info@albertatechsolutions.com</a></strong></p>
                </div>
                <p>Phone: <strong>780-906-8765</strong></p>
                <p>Located in Edmonton, Alberta.</p>
            </div>
        </div>
    </div>
</section>
