<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Alberta Tech Solutions</strong></h4>
        <p>
          Edmonton, AB
          <br>
          Canada
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> 780-906-8765</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:info@albertatechsolutions.com">info@albertatechsolutions.com</a></li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/albertatechsolutions" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/albertatechsolutions" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Alberta Tech Solutions {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
  </div>
</footer>
