<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project1-modal">
                    <img src="img/portfolio/banquet-hall.jpg" class="img-responsive" alt="Banquet Hall Audio Video Setup">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Event Services</div>
                            <div class="project-name">Banquet Hall Audio Video Setup</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project2-modal">
                    <img src="img/portfolio/headermain.jpg" class="img-responsive" alt="Home Automation System">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Smart Home Solutions</div>
                            <div class="project-name">Home Automation System</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project3-modal">
                    <img src="img/portfolio/pos.JPG" class="img-responsive" alt="Retail Management System">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Point of Sale</div>
                            <div class="project-name">Retail Management System</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project4-modal">
                    <img src="img/portfolio/security.jpg" class="img-responsive" alt="Hotel Surveillance System">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Security Systems</div>
                            <div class="project-name">Hotel Surveillance System</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project5-modal">
                    <img src="img/portfolio/seo-campaign.jpg" class="img-responsive" alt="SEO Campaign">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Marketing Campaign</div>
                            <div class="project-name">SEO Campaign</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project6-modal">
                    <img src="img/portfolio/film-projector.jpg" class="img-responsive" alt="Custom Home Theatre">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Home Entertainment</div>
                            <div class="project-name">Custom Home Theatre</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
