<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg" alt="Smart Home Automation">
              </a>
              <h4>Smart Home Automation</h4>
              <p>Transform your living space with cutting-edge smart technology.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg" alt="Commercial Solutions">
              </a>
              <h4>Commercial Solutions</h4>
              <p>Innovative automation solutions for businesses to enhance efficiency.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg" alt="Custom Home Theaters">
              </a>
              <h4>Custom Home Theaters</h4>
              <p>Designing immersive home entertainment experiences tailored to your needs.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg" alt="Security Solutions">
              </a>
              <h4>Security Solutions</h4>
              <p>Comprehensive security services including CCTV and data protection.</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
