<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include nav.html %}
    {% include header.html %}
    {% include aside2.html %}
    {% include call-to-action.html %}
    {% include aside1.html %}
    {% include services.html %}
    {% include aside3.html %}
    {% include business-services.html %}
    {% include smart-home-solutions.html %}
    {% include smart-lighting.html %}
    {% include smart-thermostats.html %}
    {% include smart-security.html %}
    {% include smart-appliances.html %}
    {% include home-automation.html %}
    {% include smart-energy.html %}
    {% include pos-systems.html %}
    {% include surveillance-security.html %}
    {% include portfolio.html %}
    {% include aside.html %}
    
    {% include contact.html %}
    
    {% include scripts.html %}

    <!-- Open Graph and Twitter Tags for this page -->
    <meta property="og:title" content="Alberta Tech Solutions - Your Partner in Smart Home and Business Technology">
    <meta property="og:description" content="Explore our innovative Smart Home Automation, IT Support, and Commercial Technology Solutions tailored for your needs.">
    <meta property="og:image" content="{{ '/img/logo.png' | relative_url }}">
    <meta property="og:url" content="{{ page.url | relative_url }}">
    <meta property="og:type" content="website">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Alberta Tech Solutions - Your Partner in Smart Home and Business Technology">
    <meta name="twitter:description" content="Explore our innovative Smart Home Automation, IT Support, and Commercial Technology Solutions tailored for your needs.">
    <meta name="twitter:image" content="{{ '/img/logo.png' | relative_url }}">
</body>

</html>
