<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include aside2.html %}
  {% include call-to-action.html %}
  {% include aside1.html %}
  {% include services.html %}
  {% include aside3.html %}
  {% include business-services.html %}
  {% include smart-home-solutions.html %}
  {% include smart-lighting.html %}
  {% include smart-thermostats.html %}
  {% include smart-security.html %}
  {% include smart-appliances.html %}
  {% include home-automation.html %}
  {% include smart-energy.html %}
  {% include pos-systems.html %}
  {% include surveillance-security.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  
  {% include contact.html %}
  
  {% include scripts.html %}
</body>

</html>